<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojoj Survey Index</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container lg-1 md-1 sm-1">
        <h3>Submitted Info</h3>
        @{
            
        }
        <span>Name:</span><p class="result">@ViewBag.Name</p>
        <span>Dojo Location:</span><p class="result">@ViewBag.Dojo</p>
        <span>Favorite Language:</span><p class="result">@ViewBag.FavLang</p>
        <span>Comment:</span><p class="result">@ViewBag.Comment</p><br><br><br><br>
        <p class="btn"><button><a href="/">Go Back</a></button></p>
    </div>
</body>
</html>